# Python
.venv/
__pycache__/
*.pyc
db.sqlite3

# Node
frontend/node_modules/
frontend/.next/

# Docker
pgdata/
miniodata/

# Env
.env
.env.*

# IDE
.idea/
.vscode/
ml_training/data/
ml_training/venv/
ml_training/models/*.pkl
backend/.coverage
backend/venv/
__pycache__/
*.pyc
